// Sidebar
$sidebar-link-padding: 12px 15px;
$sidebar-icon-size: 16px;
$sidebar-first-level-padding: 0 0 10px 0;
$sidebar-first-level-link-padding: 2px 15px;
$sidebar-first-level-icon-size: 14px;
$sidebar-second-level-padding: 0 0 0px 20px;
$small-cap-padding: 12px 23px 12px 0;

/*******************
Main sidebar
******************/

.left-sidebar {
  position: absolute;
  width: $sidebar-width-full;
  height: 100%;
  top: 0px;
  z-index: 10;
  padding-top: $topbar-height;
  background: $sidebar;
  box-shadow: $shadow;
  transition: 0.2s ease-in;
}

/*******************
sidebar navigation
******************/
.scroll-sidebar {
  height: calc(100% - 20px);
  overflow: auto;
}

.sidebar-nav {
  ul {
    .sidebar-item {
      // width: $sidebar-width-full;
      margin-bottom: 5px;
      .sidebar-link {
        color: $sidebar-text;
        padding: $sidebar-link-padding;
        display: flex;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
        opacity: 0.4;
        cursor: pointer;
        font-size: 14px;
        border-left: 3px solid transparent;
        .side-badge.badge {
          position: absolute;
          right: 32px;
          top: 15px;
          padding: 3px 10px;
          line-height: 13px;
        }
        i {
          font-style: normal;
          width: 35px;
          line-height: 25px;
          font-size: $sidebar-icon-size;
          color: $sidebar-icons;
          display: inline-block;
          text-align: center;
        }
        &.active,
        &:hover {
          opacity: 1;
          border-left: 3px solid $danger;
        }
      }
      &.selected > .sidebar-link,
      &:hover > .sidebar-link {
        /*background: rgba(0, 0, 0, 0.04);*/
        opacity: 1;
      }
      &.active {
        > .sidebar-link {
          border-left: 3px solid $white;
          color: $white;
          i {
            color: $white;
          }
        }
      }
      /*******************
			 First level
			 ******************/
      .first-level {
        padding: $sidebar-first-level-padding;
        .sidebar-item.active > .sidebar-link {
          opacity: 1;
          border-left: 3px solid transparent;
        }
        .sidebar-item .sidebar-link {
          &:hover {
            border-left: 3px solid transparent;
          }
          padding: $sidebar-first-level-link-padding;
          i {
            font-size: $sidebar-first-level-icon-size;
            visibility: hidden;
          }
        }
      }
      .second-level .sidebar-item {
        padding: $sidebar-second-level-padding;
      }
    }
    /*******************
		 Small cap
		 ******************/
    .nav-small-cap {
      font-size: 11px;
      padding: $small-cap-padding;
      white-space: nowrap;
      display: flex;
      align-items: center;
      line-height: 30px;
      margin-top: 10px;
      font-weight: 500;
      color: $sidebar-text;
      text-transform: uppercase;
      opacity: 1;
      i {
        line-height: 30px;
        margin-right: 5px;
      }
    }
  }
}
/*******************
 common m-p removed
******************/
.sidebar-nav {
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
    }
  }
}
.collapse.in {
  display: block;
}
/*******************
Down arrow
******************/
.sidebar-nav .has-arrow {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $sidebar-text;
    margin-left: 10px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 24px;
    right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

/*.sidebar-nav .active > .has-arrow::after,*/

/*.sidebar-nav li.selected > .has-arrow::after,*/
.sidebar-nav li.active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

/*******************
use profile section
******************/

.user-profile {
  position: relative;
  background-size: cover;
  padding-top: 10px;
  .setpos {
    top: -47px;
    right: -3px;
  }
  .profile-img {
    width: 70px;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    border-radius: 100%;
    img {
      width: 100%;
      padding: 5px;
      border: 1px solid $border-color;
      border-radius: 100%;
    }
  }
  .profile-text {
    padding: 5px 0px;
    position: relative;
    text-align: center;
    > a {
      color: $text-muted;
      padding: 0 5px;
      &:hover {
        color: $themecolor;
      }
      &:after {
        display: none;
      }
    }
  }
  .dropdown-menu {
    left: 0px !important;
    right: 0px;
    top: 28px !important;
    width: 180px;
    margin: 0 auto;
  }
}

// truncate
.hide-menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
}
