/*******************
 Breadcrumb and page title
*******************/

.page-breadcrumb {
    padding: 15px;
    background: $white;  
    .page-title{
        margin-bottom: 0px;
        color: rgba(0,0,0,.5);
        font-weight: 600;
    }
    .breadcrumb {
        padding: 0px;
        margin: 0px;
        background: transparent;
        font-size: 16px;
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-300;
            font-size: 11px;
        }
        .breadcrumb-item.active {
            color: $danger;
        }
    }
}
