.news-slide {
	position: relative;
	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}
	
	.overlaybg {
		height: 330px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.news-content {
		position: absolute;
		height: 330px;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
		width: 100%;
		top: 0px;
		padding: 30px;

		h2 {
			height: 240px;
			overflow: hidden;
			color: $white;
		}

		a {
			color: $white;
			opacity: 0.6;
			text-transform: uppercase;

			&:hover {
				opacity: 1;
			}
		}
	}
}